.container {
    display: flex;
    flex-direction: column;
    .header {
        .list {
            display: flex;
            .item {
                display: inline-flex;
                white-space: nowrap;
                min-width: calc(100% / 7);
                padding: 0 10px;
                font-size: 14px;
                font-weight: 700;
                &:nth-child(n + 3) {
                    justify-content: flex-end;
                }
            }
        }
    }
    .section {
        display: flex;
        flex-direction: column;
    }
}
